{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h2>Edit recipe</h2>
    <form action="{{ url_for('edit_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title value="{{ entry.title }}">
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40>{{ entry.text }}</textarea>

        <dt>Tags:
        <dd><input type=text size=50 name=tags value="{{ entry.tags }}" id="tags">
        <script>$('#tags').tagsInput();</script>

        <dd><input type=hidden name=id value={{ entry.id }}>
        <dd><input type=submit value=Update>
      </dl>
    </form>
  {% endif %}
{% endblock %}