{% extends "layout.html" %}
{% block body %}
<!-- SheepIt! - ingredients plugin -->
<script type=text/javascript src="{{ url_for('static', filename='sheepItPlugin.js') }}"></script>
<script>
$(document).ready(function(){
$("#tags").tagit({});
</script>
<script>
$(document).ready(function() {
var b = {{ rec.get('ingredients')|tojson }};
var dat = [];
for (i = 0; i < {{ max }}; i++) {
         dat.push( {
            'ingredient_#index#':  b[i].ingredient,
            'amount_#index#': b[i].number
            }
);
}
    var sheepItForm = $('#sheepItForm').sheepIt({

        separator: '',
        allowRemoveLast: true,
        allowRemoveCurrent: true,
        allowRemoveAll: false,
        allowAdd: true,
        maxFormsCount: 20,
        minFormsCount: 1,
        iniFormsCount: {{ max }},
        data: dat
    })  ;

});


</script>
  {% if session.logged_in %}
    <h2>Edit recipe</h2>
    <form action="{{ url_for('edit_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title value="{{ entry.title }}">
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40>{{ entry.text }}</textarea>

        <dt>Tags:
        <dd><input type=text size=50 name=tags value="{{ tags }}" id="tags">

        <dd><input type=hidden name=id value={{ entry._id }}>

        <!-- sheepIt Form -->
        <div id="sheepItForm">

          <!-- Form template-->
          <div id="sheepItForm_template">
            <label for="ingredient_#index#">Ingredient</label>
            <input id="ingredient_#index#" name="ingredient_#index#" type="text" />
              <label for="amount_#index#">Amount</label>
              <input id="amount_#index#" name="amount_#index#" type="text" size="15"/>
            <a id="sheepItForm_remove_current">
              <img class="delete" src="{{ url_for('static', filename='images/cross.png') }}" width="16" height="16" border="0">
            </a>
          </div>
          <!-- /Form template-->

          <!-- No forms template -->
          <div id="sheepItForm_noforms_template">No phones</div>
          <!-- /No forms template-->

          <!-- Controls -->
          <div id="sheepItForm_controls">
            <div id="sheepItForm_add"><a><span>Add ingredient</span></a></div>
            <div id="sheepItForm_remove_last"><a><span>Remove</span></a></div>
          <!-- /Controls -->

          </div>
        <!-- /sheepIt Form -->
        </div>
        <dd><input type=submit value=Update>
      </dl>
    </form>
  {% endif %}
{% endblock %}