<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CookBook</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jquery.raty.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pygment_trac.css') }}">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="{{ url_for('static',filename='jquery.tagit.css') }}" rel="stylesheet" type="text/css">

<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='lib/jquery.raty.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename='tag-it.js') }}" type="text/javascript" charset="utf-8"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(document).ready(function(){

$( "#searchb" ).click(function() {
  $( "#search" ).toggle();
    $( "#searchbr" ).toggle();
});

$( "#searchbtn" ).click(function() {

window.location.replace("/search/" + $("#searchin").val());

});
});
</script>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ url_for('show_entries') }}">CookBook</a></h1>
        <p>Your personal book with recipes</p>
           <div class="metanav">
                {% if not session.logged_in %}
                <a href="{{ url_for('signup') }}">Sign up</a>
                <br>
                <a href="{{ url_for('login') }}">Log in</a>
                {% else %}
                <a id="searchb" href="#">Search</a>
                <br>
                <a href="{{ url_for('logout') }}">Log out</a>
                <br>
                <a href="{{ url_for('show_profile', login=session.user_in) }}">User profile</a>
                <br>
                <a href="{{ url_for('add') }}">Add</a>
                <br>
                <br>
                <a href="{{ url_for('cookbook', login=session.user_in) }}">Your cookbook</a>
                <br>
                <a href="{{ url_for('recommend', login=session.user_in) }}">Recommended</a>

                <br>
                <br>
                <a href="{{ url_for('topfav') }}">Top favorites</a>
                <br>
                <a href="{{ url_for('toprated') }}">Top rated</a>
                <br>
                <a href="{{ url_for('interesting') }}">Trending</a>

                <br>
                <br>
                <br>
                <p style="color:#E82C59">
                <a style="color:#E82C59" href="{{ url_for('show_recipes_tag', tag='celiac') }}">#celiac</a> <a style="color:#E82C59" href="{{ url_for('show_recipes_tag', tag='diabetic') }}">#diabetic</a> <a style="color:#E82C59" href="{{ url_for('show_recipes_tag', tag='ketogenic') }}">#ketogenic</a> <a style="color:#E82C59" href="{{ url_for('show_recipes_tag', tag='lactose-free') }}">#lactose-free</a>
                    <a style="color:#E82C59" href="{{ url_for('show_recipes_tag', tag='vegetarian') }}">#vegetarian</a> <a style="color:#E82C59" href="{{ url_for('show_recipes_tag', tag='vegan') }}">#vegan</a> <a style="color:#E82C59" href="{{ url_for('show_recipes_tag', tag='paleo') }}">#paleo</a>
                    </p>
                {% endif %}
            </div>
            <br>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
      </header>
      <section>
          <div class="page">
             <div style="display: none" id="search">
                 <input type="text" id="searchin" name="search" placeholder="recipe name">>
                 <input type="submit" id="searchbtn" value="search">
             </div>
             <br style="display: none" id="searchbr">
             {% block body %}{% endblock %}
          </div>
      </section>
      <footer>
        <p>This project is created by <a href="https://github.com/Cospel">Michal Lukac</a> and Boris Valentovic.</p>
        <p><small>Hosted on GitHub Pages &mdash;<a href="https://github.com/Cospel/RecipeRecommender">RecipeRecommender</a></small></p>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    <script type=text/javascript src="{{ url_for('static', filename='scale.fix.js') }}"></script>
    </div>
</body>
</html>