{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <a href="{{ url_for('add') }}">Add</a>
    <!--<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Tags:
        <dd><input type=text size=50 name=tags>
        <dd><input type=submit value=Share>
      </dl>
    </form>-->
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}

    <li><a href="{{ url_for('show_entry', id=entry.id) }}"><h2>{{ entry.title }}</h2></a> {{ entry.text|safe }}<br>
        <a href="{{ url_for('show_profile', login=entry.userid) }}">{{ entry.userid }}</a><br> {{ entry.tags }}
  {% else %}
    <li><em>Unbelievable. No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}