{% extends "layout.html" %}
{% block body %}
 <div id="title">
     <h2 class="leftclass"><a href="{{ url_for('show_entry', id=entry.id) }}" >{{ entry.title }}</a></h2>
     <h3 class="rightclass">{{ entry.avgrating }}/5</h3>
 </div>
        <br/>
        <br/>
        <br/>
<div>
 by <a href="{{ url_for('show_profile', login=entry.userid) }}">{{ entry.userid }}</a><br>
     {% if canedit %}
 <a href="{{ url_for('edit', id=entry.id) }}">Edit</a>
 {% endif %}

 <a href="{{ url_for('show_entries') }}">Back</a><br>
 <br><blockquote>{{ entry.text|safe }}</blockquote><br>
 {% if entry.image %}
 <a href="{{ url_for('image', id=entry.id) }}"><img src="data:image/png;base64,{{ entry.image }}"/></a>
 {% endif %}
 <h3>Ingredients</h3>
 <table class="colors">

    <tbody>
    <tr>
      <th>Name</th><th>Amount</th>
    </tr>
     {% for item in rec.ingredients %}
    <tr>
      <td>{{ item.ingredient }}</td><td>{{ item.number }}</td>
    </tr>
    {% endfor %}

    </tbody>

 </table>
 <br> <div class="highlight" ><pre><span class="s1">{{ entry.tags }}</span></pre></div>
 <script>
$(document).ready(function(){
    $('#tags').tagsInput({
    });

  $("#ratings").raty({
  cancelOff  : "{{ url_for('static', filename='lib/images/cancel-off.png') }}" ,
  cancelOn   : "{{ url_for('static', filename='lib/images/cancel-on.png') }}",
  starHalf   : "{{ url_for('static', filename='lib/images/star-half.png') }}",
  starOff    : "{{ url_for('static', filename='lib/images/star-off.png') }}" ,
  starOn     : "{{ url_for('static', filename='lib/images/star-on.png') }}",
  score      : {{ value }},
  readOnly   : ({{ value }} > 0),

  click: function(score, evt) {
        $.ajax({
            url: "{{ url_for('rate') }}",
            type: 'POST',
            data: JSON.stringify({'rating':score,'userid':'{{ session.user_in }}','itemid':{{ entry.id }} }),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                console.log(response);
                $("#ratings").raty('readOnly', true);
            },
            error: function(error) {
                console.log(error);
            }
        });
  }});



  $( "#favorite" ).click(function() {
        $.ajax({
            url: "{{ url_for('favorite') }}",
            type: 'POST',
            data: JSON.stringify({'favorite': $( "#favorite" ).attr( "favorited" ),'userid':'{{ session.user_in }}','itemid':{{ entry.id }} }),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                if(response == "ERR") {
                    alert(response);
                }
                else {
                    if( $("#favorite").attr("favorited") == "1") {
                        $("#favorite").attr("favorited", "0");
                        $("#favorite").attr("src", "{{ url_for('static', filename='images/removedoc.png') }}");
                    }
                    else {
                        $("#favorite").attr("favorited", "1");
                        $("#favorite").attr("src", "{{ url_for('static', filename='images/adddoc.png') }}");
                    }
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
  });
});
</script>
 <div>
    {% if favorited %}
    <img id="favorite" class="leftclass" favorited="0" src="{{ url_for('static', filename='images/removedoc.png') }}"/>
    {% else %}
    <img id="favorite" class="leftclass" favorited="1" src="{{ url_for('static', filename='images/adddoc.png') }}"/>
    {% endif %}
    <div id="ratings" class="rightclass" path="{{ url_for('static', filename='lib/images/') }}"></div>
 </div>
    <br/>
    <br/>
    <br/>
 <h3>Similar recipes</h3>
 <table class="colors">
    <tbody>
    <tr>
        <th>Name</th><th>Rating</th>
    </tr>
    <tr>
        <td>Recipe 1</td><td>5</td>
    </tr>
    <tr>
        </td><td>Recipe 2</td><td>2</td>
    </tr>
    </tbody>
 </table>
</div>
{% endblock %}