{% extends "layout.html" %}
{% block body %}
 <a href="{{ url_for('show_entry', id=entry.id) }}" ><h2>{{ entry.title }}</h2></a>
 by <a href="{{ url_for('show_profile', login=entry.userid) }}">{{ entry.userid }}</a><br>
 <a href="{{ url_for('show_entries') }}">Back</a><br>
 <br><blockquote>{{ entry.text|safe }}</blockquote><br>
 {% if entry.image %}
 <a href="{{ url_for('image', id=entry.id) }}"><img src="data:image/png;base64,{{ entry.image }}"/></a>
 {% endif %}
 <h3>Ingredients</h3>
 <table class="colors">
    <tbody>
    <tr>
        <th>Name</th><th>Weight</th>
    </tr>
    <tr>
        <td>Eggs</td><td>5</td>
    </tr>
    <tr>
        </td><td>Salt</td><td>100g</td>
    </tr>
    </tbody>
 </table>
 <br> <div class="highlight" ><pre>{{ entry.tags }}</pre></div>
 <script>
$(document).ready(function(){
    $('#tags').tagsInput({
    });

  $("#ratings").raty({
  cancelOff  : "{{ url_for('static', filename='lib/images/cancel-off.png') }}" ,
  cancelOn   : "{{ url_for('static', filename='lib/images/cancel-on.png') }}",
  starHalf   : "{{ url_for('static', filename='lib/images/star-half.png') }}",
  starOff    : "{{ url_for('static', filename='lib/images/star-off.png') }}" ,
  starOn     : "{{ url_for('static', filename='lib/images/star-on.png') }}",
  score      : {{ value }},
  readOnly   : ({{ value }} > 0),

  click: function(score, evt) {
        $.ajax({
            url: "{{ url_for('rate') }}",
            type: 'POST',
            data: JSON.stringify({'rating':score,'userid':'{{ session.user_in }}','itemid':{{ entry.id }} }),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                console.log(response);
                $("#ratings").raty('readOnly', true);
            },
            error: function(error) {
                console.log(error);
            }
        });
  }});



  $( "#favorite" ).click(function() {
        $.ajax({
            url: "{{ url_for('favorite') }}",
            type: 'POST',
            data: JSON.stringify({'favorite': $( "#favorite" ).attr( "favorited" ),'userid':'{{ session.user_in }}','itemid':{{ entry.id }} }),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                if(response == "ERR") {
                    alert(response);
                }
                else {
                    if( $("#favorite").attr("favorited") == "1") {
                        $("#favorite").attr("favorited", "0");
                        $("#favorite").attr("src", "{{ url_for('static', filename='images/removedoc.png') }}");
                    }
                    else {
                        $("#favorite").attr("favorited", "1");
                        $("#favorite").attr("src", "{{ url_for('static', filename='images/adddoc.png') }}");
                    }
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
  });
});
</script>
{% if favorited %}
 <img id="favorite" favorited="0" src="{{ url_for('static', filename='images/removedoc.png') }}"/>
{% else %}
 <img id="favorite" favorited="1" src="{{ url_for('static', filename='images/adddoc.png') }}"/>
{% endif %}
<div id="ratings" path="{{ url_for('static', filename='lib/images/') }}"></div>
 {% if canedit %}
 <a href="{{ url_for('edit', id=entry.id) }}">Edit</a>
 {% endif %}
{% endblock %}