{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% endif %}
  <h1>Recipes</h1>
   <table class="colors">
    <tbody>
    <tr>
        <th>Recipe name</th><th>Author</th><th>Rating</th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td><a href="{{ url_for('show_entry', id=entry.id) }}">{{ entry.title }}</a></td><td><a href="{{ url_for('show_profile', login=entry.userid) }}">{{ entry.userid }}</a></td><td>1</td>
    </tr>
    {% else %}
    <tr>
        <td>No entries found.</td><td></td><td></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}